*{
    box-sizing: border-box;;
}

:root{
    --mainColor: rgb(166, 97, 255);
}

body{
    background-color: #333;
}

.phone{
    width: 70px;
    height: 70px;
    background-color: rgb(149, 68, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80%;
    left: 90%;
    transition: all 1s;
    cursor: pointer;

    animation-name: jring;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-timing-function: ease-in;
}

@keyframes jring{
    from{
        transform: rotate(0);
        background-color: rgb(149, 68, 255);
    }

    20%{
        transform: rotate(10deg);
    }

    40%{
        transform: rotate(-10deg) scale(1.2);
        background-color:var(--mainColor);
    }
    60%{
        transform: rotate(10deg) scale(1.2);
        background-color:var(--mainColor);
    }
    80%{
        transform: rotate(-10deg) scale(1.2);
        background-color:var(--mainColor);
    }
    100%{
        transform: rotate(0);
    }
}

#icon{
    color: #fff;
    font-size: 26px;
}

.text{
    color: gray;
    line-height:26px;
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}
.header{
    color: #fff;
    line-height:26px;
    width: 70%;
    text-align: center;
    margin: 30px auto;
}